@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0.15;
    transform: translateY(40%);
  }
  50% {
    opacity: 0.25;
    transform: translateY(25%);
  }
  75% {
    opacity: 0.5;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes expandImage {
  from {
    width: 50%;
    height: 50%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

@keyframes moveFromSide {
  to {
    opacity: 1;
    transform: translateY(0) translateX(0);
  }
}
