#eum {
  display: flex;
  justify-content: center;
  background-color: #f3f5fa;
  width: 100%;
}
#eum-container {
  max-width: 1140px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  

}
#eum-container-left {
  background-color: #f3f5fa;
  width: 50%;
  padding: 0 0 12px;
}
#eum-container-left-content {
  padding: 60px 0px 0px 0px;
  overflow: hidden;
  animation: fadeUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
#eum-container-left-content > h3 {
  font-size: 34px;
  color: #37517e;
  font-weight: 400;
  margin-bottom: 8px;
}
#eum-container-left-content > p {
  font-size: 15px;
  color: #848484;
  margin-bottom: 16px;
}
strong {
  font-weight: bolder;
}
#eum-container-left-questionbox {
  padding: 0px 0px 60px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  
  overflow: hidden;
  animation: fadeUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;

  /* 오른쪽 아래에서 오는 것 
  opacity: 0;  초기에 투명하게 설정 
  transform: translateY(10vh) translateX(10vw);  오른쪽 대각선 아래로 이동 
  animation: moveFromSide 1s ease-out forwards; */

  /* 왼쪽 아래에서 오는 것
  opacity: 0;
  transform: translateY(10vh) translate(-10vw);
  animation: moveFromSide 1s ease-out forwards;  */
}
.eum-question {
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 15px;
  position: relative;
}

.eum-qnum-qcontent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.eum-qnum-qcontent > svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5%;
}
.eum-questionnum {
  color: #47b2e4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}
.eum-questioncontent {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
}
.eum-qnum-qcontent {
  cursor: pointer;
}
.eum-qnum-qcontent:hover {
  color: #47b2e4;
}
#eum-container-right {
  background-color: #f3f5fa;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#eum-container-right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px 12px;
  animation: expandImage linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
.eum-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label + .eum-answer {
  max-height: 200px;
  opacity: 1;
  padding-top: 10px;
}
.eum-answer > p {
  padding: 10px 0 0 0;
  color: #444444;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
input[type="radio"]:checked ~ .eum-qnum-qcontent > .eum-questioncontent {
  color: #47b2e4;
}
input[type="radio"]:checked ~ .eum-qnum-qcontent > .eum-questioncontent:hover {
  color: #73c5eb;
}
input[type="radio"]:checked ~ .eum-qnum-qcontent > svg {
  color: #47b2e4;
  transform: rotate(180deg);
}
input[type="radio"]:checked ~ .eum-qnum-qcontent > eum:hover {
  color: #73c5eb;
  transform: rotate(180deg);
}

