
#header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    position: fixed;
    top: 0rem;
    left: 0rem;
    height: 3.2rem;
    width: 100%;
    z-index: 100;
    background-color: #023b6d;
    color:white;
    margin: 0;
    font-family: "Jost", sans-serif;
    
}
#header-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-logo{
    padding-left: 1rem;
}
#header-logo > img{
    height: 2.5rem
}
#header-view-mode{
    margin-left: 2rem;
    display: flex;
    gap:1.2rem;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.6);
}
#header-view-mode > iconify-icon:first-child{
    color: white;
}
#header-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 5rem;
}
#header-center i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
}
#header-title{
    font-weight: bold;
    font-size: 1.6rem;
}

#header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem
}
#header-share> i {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
}

#header-freedown{
    display: flex; 
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 0.5rem;
    background-color: #00b4ff;
    padding: 0.7rem 1rem;
}

#header-freedown> iconify-icon{
    font-size: 2rem;
}
#header-freedown> div{
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
}
