#header-main-container {
  position: fixed;
  z-index: 100;
  top: 3.2rem;
  left: 0rem;
  width: 100%;
  min-width: 1140px;
  margin: 0;
  font-family: "Jost", sans-serif;
  background-color: rgba(40, 58, 90, 0.9);
  animation: background-switch 1.2s linear; 
  animation-timeline: scroll();
}
#header-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin-left: 15rem;
  width: min(100%, 1140px);
  margin: 0 auto;
  color: white;   

}
#header-main-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
}
#header-main-menu > div{
  color: white;
  transition: color 0.2s ease-in-out;
}
#header-main-menu > div:first-child {
  color: var(--sky-blue);
}
#header-main-menu > div:hover {
  color: var(--sky-blue);
}
#header-main-title > span {
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header-main-drop-down {
  display: block;
  position: relative;
}
#header-main-drop-down:hover {
  color: var(--sky-blue);
}
#header-main-drop-down > a > i {
  font-size: 1.2rem;
}
#header-main-drop-down > a {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 2rem 0 ;
}
#header-main-drop-down > ul {
  position: absolute;
  display: none;
  opacity: 1;
  top: 5rem;
  left: -2rem;
  width: 18rem;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  z-index: 99;
  background-color: white;
  color: rgba(40, 58, 90, 0.9);
  border-radius: 0.4rem;
  padding: 10px 0;
  animation: fadeInUp 0.5s ease-in-out;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
#header-main-drop-down:hover > ul,
#header-main-drop-down > ul:hover {
  display: block;
}

#header-main-drop-down > ul > li {
  padding: 10px 20px;
}
#header-main-drop-down > ul > li:nth-child(2) > div {
  display: flex;
  flex-direction: row;
  position: relative;
  
}
#header-main-drop-down > a{
  color: white;
  transition: color 0.2s ease-in-out;
}
#header-main-drop-down > a:hover, #header-main-drop-down li:hover{
  color: var(--sky-blue);
}

#header-main-drop-drop-box {
  position: absolute;
  display: none;
  opacity: 1;
  top: 4rem;
  left: 18rem;
  width: 18rem;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  z-index: 99;
  background-color: white;
  color: rgba(40, 58, 90, 0.9);
  padding: 10px 0;
  border-radius: 0.4rem;
  animation: slideInRight 0.5s ease-in-out;
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translate3d(-20%, 0, 0); 
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
#header-main-drop-down > ul > li:nth-child(2):hover > ul {
  display: block;
}
#header-main-drop-drop-box > li {
  padding: 10px 20px;
}
#header-main-drop-drop-box > li:hover {
  color: var(--sky-blue);
}
#header-main-menu > button {
  padding: 0.8rem 2rem;
  font-size: 1.rem;
  border-radius: 50px;
  border: 2px solid #47b2e4;
  background-color: transparent;
  color: white;
  transition: 0.3s;
}
#header-main-menu > button:hover {
  background-color: #47b2e4;
}
@keyframes background-switch {
  0% {
    background-color: transparent;
  }
  5% {
    background-color: rgba(40, 58, 90, 0.9);
  }
}