#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f5fa;
  padding: 6rem 1.2rem;
  width: 100%;
}
.portfolio-wrapper {
  max-width: 1140px;
}
.portfolio-title-wrapper {
  text-align: center;
  margin-bottom: 30px;
}
.portfolio-title-wrapper > h2 {
  position: relative;
  font-size: 32px;
  font-weight: bold;
  color: var(--blue);
  margin-bottom: 40px;
}
.portfolio-title-wrapper > h2::before {
  content: "";
  position: absolute;
  left: calc(50% - 60px);
  bottom: -20px;
  display: inline-block;
  width: 120px;
  height: 1px;
  background-color: #ddd;
}
.portfolio-title-wrapper > h2::after {
  content: "";
  position: absolute;
  left: calc(50% - 20px);
  bottom: -21.5px;
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: var(--sky-blue);
}
.portfolio-title-wrapper > span {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #444444;
}
.portfolio-select-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
.portfolio-select-wrapper > label {
  display: inline-flex;
  margin: 10px 5px;
  padding: 8px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 50px;
  color: #444444;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.portfolio-select-wrapper [type="radio"] {
  display: none;
}

#portfolio-select-all:checked
  ~ .portfolio-select-wrapper
  > label:nth-of-type(1),
#portfolio-select-app:checked
  ~ .portfolio-select-wrapper
  > label:nth-of-type(2),
#portfolio-select-card:checked
  ~ .portfolio-select-wrapper
  > label:nth-of-type(3),
#portfolio-select-web:checked
  ~ .portfolio-select-wrapper
  > label:nth-of-type(4) {
  background-color: var(--sky-blue);
  color: white;
}
.portfolio-image-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 1097.35px;
}
.portfolio-image {
  display: inline-block;
  width: 356px;
  margin-bottom: 8%;
  transition: ease-in-out 0.3s;
}
.portfolio-image > img {
  display: inline-block;
  width: 356px;
}
#portfolio-app-1-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
}
#portfolio-app-2-wrapper {
  position: absolute;
  top: 0px;
  left: 760px;
}
#portfolio-app-3-wrapper {
  position: absolute;
  top: 391px;
  left: 0px;
}
#portfolio-card-1-wrapper {
  position: absolute;
  top: 495.5px;
  left: 760px;
}
#portfolio-card-2-wrapper {
  position: absolute;
  top: 230px;
  left: 760px;
}
#portfolio-card-3-wrapper {
  position: absolute;
  top: 755.5px;
  left: 760px;
}
#portfolio-web-1-wrapper {
  position: absolute;
  top: 0px;
  left: 380px;
}
#portfolio-web-2-wrapper {
  position: absolute;
  top: 269px;
  left: 380px;
}
#portfolio-web-3-wrapper {
  position: absolute;
  top: 831px;
  left: 380px;
}
#portfolio-select-app:checked ~ .portfolio-image-wrapper .portfolio-image-card,
#portfolio-select-app:checked ~ .portfolio-image-wrapper .portfolio-image-web,
#portfolio-select-card:checked ~ .portfolio-image-wrapper .portfolio-image-app,
#portfolio-select-card:checked ~ .portfolio-image-wrapper .portfolio-image-web,
#portfolio-select-web:checked ~ .portfolio-image-wrapper .portfolio-image-app,
#portfolio-select-web:checked ~ .portfolio-image-wrapper .portfolio-image-card {
  display: none;
  transition: transform 0.3s;
}
#portfolio-select-app:checked ~ .portfolio-image-wrapper {
  height: 560px;
}
#portfolio-select-card:checked ~ .portfolio-image-wrapper {
  height: 270px;
}
#portfolio-select-web:checked ~ .portfolio-image-wrapper {
  height: 560px;
}
#portfolio-select-app:checked
  ~ .portfolio-image-wrapper
  #portfolio-app-2-wrapper {
  top: 0px;
  left: 380px;
}
#portfolio-select-app:checked
  ~ .portfolio-image-wrapper
  #portfolio-app-3-wrapper {
  top: 0px;
  left: 760px;
}
#portfolio-select-card:checked
  ~ .portfolio-image-wrapper
  #portfolio-card-1-wrapper {
  top: 0px;
  left: 380px;
}
#portfolio-select-card:checked
  ~ .portfolio-image-wrapper
  #portfolio-card-2-wrapper {
  top: 0px;
  left: 0px;
  height: 300px;
}
#portfolio-select-card:checked
  ~ .portfolio-image-wrapper
  #portfolio-card-3-wrapper {
  top: 0px;
  left: 760px;
}
#portfolio-select-web:checked
  ~ .portfolio-image-wrapper
  #portfolio-web-1-wrapper {
  top: 0px;
  left: 0px;
}
#portfolio-select-web:checked
  ~ .portfolio-image-wrapper
  #portfolio-web-2-wrapper {
  top: 0px;
  left: 380px;
}
#portfolio-select-web:checked
  ~ .portfolio-image-wrapper
  #portfolio-web-3-wrapper {
  top: 0px;
  left: 760px;
}
@keyframe zoom-in {
  from {
    display: none;
  }
  to {
    display: inline-block;
  }
}
