html {
  font-size: 67.5%;
  min-width: 1300px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  max-width: 1140px;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}
